<div class="container" ng-controller="alarmController">
    <table class="table table-bordered table-striped">

        <thead class="head">
        <tr>
            <td>
                Device
            </td>
            <td>
                Message
            </td>
            <td>
                Severity
            </td>
            <td>
                Alert Time
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="alarm in allAlarms | orderBy:sortTypeTimestamp:true | orderBy:sortTypeSeverity">
            <td>{{ alarm.source.name }} </td>
            <td>{{ alarm.text }} </td>
            <td ng-class="{ critical : alarm.severity === 'CRITICAL' }">
                {{ alarm.severity }}
            </td>
            <td>{{ alarm.creationTime | date: 'dd.MM.yyyy HH:MM:ss' }} Uhr</td>
        </tr>
        </tbody>

    </table>
</div>
